*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: brown;
}

canvas{
    background: #00FF00;
    background: linear-gradient(#0F2027,#203A43,#2c5364);
    display: block;
    margin: 0 auto;
}

h1{
    color: #2c5364;
    text-align: center;
    font-family: monospace;
    margin: 50px;
}