*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

canvas{
    background: #303030;
    background: linear-gradient(#cb1414,#dd16d3,rgb(6, 6, 234));
    display: block;
    margin: 0 auto;
}

h1{
    color: #2c5364;
    text-align: center;
    font-family: 'Monospace', sans-serif;
    margin: 50px;
}